body{
    color: white;
    font-size: large;
    background-image: url("../images/logotipo.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
}

canvas{
    background-image: url("../images/campo.png");
    border: 2px solid black;
}